<!--Publishes a simulated Xbox controller's (xboxdrv) state to the controller_state topic-->
<launch>
    <param name="controller_type" value="sim_xbox"/>
    <node name="ControllerService" pkg="rover_client" type="ControllerService" output="screen"/>
    <node name="ControllerNode" pkg="rover_client" type="ControllerNode" output="screen"/>
</launch>